.qr-code-container {
    padding-left: 1em;
}

.qr-code-area {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.qr-code-form-item {
    padding-bottom: 1em;
    display: flex;
}

.qr-code-form-input {
    width: 75%;
    display: flex;
    margin-left: auto;
    margin-right: 2em;
}

.qr-code-form {
    display:flex;
    flex-direction: column;
    flex: 1
}

.qr-code-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1
}